.vs/Nusushi/v15/
src/Nusushi/obj/
src/Nusushi/bin/
src/Tokyo.Client/obj/
src/Tokyo.Client/bin/
src/Tokyo.Client/node_modules/
src/Tokyo.Client/compiledts/
src/Tokyo.Service/obj/
src/Tokyo.Service/bin/
src/California.Creator.Client/obj/
src/California.Creator.Client/bin/
src/California.Creator.Client/node_modules/
src/California.Creator.Client/compiledts/
src/California.Creator.Service/obj/
src/California.Creator.Service/bin/
src/Nusushi.Data/obj/
src/Nusushi.Data/bin/
src/Nusushi/Nusushi.csproj.user
src/Nusushi.Data/bin/
/.vs/Nusushi/DesignTimeBuild/.dtbcache
/src/Nusushi/californiasqlite.db
/src/Nusushi/nusushisqlite.db
/src/Nusushi/tokyosqlite.db
