@{
    ViewData["Title"] = "California";
}
<div class="body-content" style="flex: 1 1 1px; min-height: 260px; display:flex; flex-flow: column nowrap; height: 100%; width: 100%">
    <div id="california-main" style="flex: 1 1 1px; overflow: hidden; height: 100%; width: 100%">
        <!-- californiaclient.js !-->
    </div>
</div>
